{% extends 'registration/base_login.html' %}
{% block fields %}
<form class="gatewayform" method="post" action="">
    {% csrf_token %}
    <p><input type="text" name="email" class="inputter" placeholder=" Email" required></p>
    <p><input type="submit" value="Send Change Instructions" id="sub" onmousedown="this.style.boxShadow = 'inset 0px 0px 17px 2px'" onmouseout="this.style.boxShadow = '0px 0px 0px 0px'" onmouseup="this.style.boxShadow = '0px 0px 0px 0px'"></p>
    <a class="bottomlinks">Back to login</a><br>
</form>

{% block sentMessage %}{% endblock %}
{% endblock %}