<!-- I need to fix this for the admin! !-->

<div id="wrapper">
<div class="boxed">
  <form class="gatewayform" method="post" action="">
    {% csrf_token %}
    <!--<p><input type="text" name="username" class="inputter" placeholder=" Email" required></p>
    <p><input type="submit" value="Send Change Instructions" id="sub" onmousedown="this.style.boxShadow = 'inset 0px 0px 17px 2px'" onmouseout="this.style.boxShadow = '0px 0px 0px 0px'" onmouseup="this.style.boxShadow = '0px 0px 0px 0px'"></p>
    <a class="bottomlinks">Back to login</a><br>
    <img style="visibility:hidden;height:100px;width:100px" class="spinner" id="myspinner" src="https://www.dropbox.com/s/d982i267uy51wks/ezgif_com_crop%5B1%5D.gif?dl=1&raw=1">!-->
    {{ form }}
  </form>
    <p id="sentMessageForgot" style="">If this is a valid username, you will be emailed instructions to reset your password.</p>


  </div>
  </div>
<style>
.boxed {
  text-align:center;
  display: inline-block;
  position:relative;
  top:30%;
  width:500px;
}
</style>