{% extends 'registration/base_login.html' %}
{% block loginpagetitle %}Forgot your Password{% endblock %}
{% block fields %}
<form class="gatewayform" method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <p><input type="text" name="email" class="inputter" placeholder=" Email" required></p>
    <p><input type="submit" value="Send Change Instructions" id="sub"></p>
    
</form>
{% block sentMessage %}{% endblock %}
{% endblock %}
{% block bottomlinks %}<a class="bottomlinks" href="{% url 'login' %}">Back to login</a><br>{% endblock %}
