{% extends 'registration/base_login.html' %}
{% block loginpagetitle %}Account registration{% endblock %}
{% block fields %}
{% if messages %}
<ul class="messagelist">
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
<form class="gatewayform" method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<p>
    <input type='submit' value='Submit account request' id='sub'>
</p>

</form>
{% endblock %}
{% block bottomlinks %}
    <p>
        <a class="bottomlinks" href="{% url 'login' %}">Back to login</a>
    </p>
{% endblock %}