{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/homeStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/skitheme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/added.css' %}">
</head>
<body>
    <div id="bodyWrapperForBackground">
        <div id="sites-page-toolbar" class="sites-header-divider">
            <div xmlns="http://www.w3.org/1999/xhtml" id="sites-status"
                class="sites-status" style="display: none;">
                <div id="sites-notice" class="sites-notice" role="status"
                    aria-live="assertive"></div>
            </div>
        </div>
        <div id="sites-chrome-everything-scrollbar">
            <div id="sites-chrome-everything" class="">
                <div id="sites-chrome-page-wrapper" style="direction: ltr">
                    <div id="sites-chrome-page-wrapper-inside">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                            id="sites-chrome-header-wrapper" style="">
                            <table id="sites-chrome-header"
                                class="sites-layout-hbox-centered" cellspacing="0" style="">
                                <tbody>
                                    <tr class="sites-header-primary-row"
                                        id="sites-chrome-userheader">
                                        <td id="sites-header-title"
                                            class="sites-header-title-centered sites-chrome-header-valign-middle"
                                            role="banner" style="height: 250px"><div
                                                class="sites-header-cell-buffer-wrapper">
                                                <h2>
                                                    <div 
                                                        dir="ltr" id="sites-chrome-userheader-title" class="orangefloatingbox" style="font-family: Ubuntu;font-size:60px">Malabar
                                                        House</div>
                                                </h2>
                                            </div></td>
                                    </tr>
                                    <tr class="sites-header-secondary-row"
                                        id="sites-chrome-horizontal-nav">
                                        <td colspan="2"
                                            id="sites-chrome-header-horizontal-nav-container"
                                            role="navigation">
                                            <div class="sites-header-nav">
                                                <ul class="sites-header-nav-container-links">
                                                
                                                    <div id="navBarSpacer">
                                                    <li class="{% block home_select %}unselected{% endblock %}" id="smallHome"><a
                                                        class="sites-navigation-link current"
                                                        onclick="location.hash = 'smallHome'"
                                                        
                                                        >Home</a></li> <!--onclick was onclick="select(this.parentNode); startSmallerSpinner(); google.script.run.withSuccessHandler(writePageString).givePage('smallHome', '<?=token?>')"!-->
                                                    <li class="{% block rooms_select %}unselected{% endblock %}" id="rooms"><a
                                                        class="sites-navigation-link unselected"
                                                        onclick="location.hash = 'rooms'"
                                                        
                                                        
                                                        >The <!--onclick was onclick="select(this.parentNode); startSmallerSpinner(); google.script.run.withSuccessHandler(writePageString).givePage('rooms', '<?=token?>')" !-->
                                                            Rooms</a></li>
                                                    <li class="{% block requests_select %}unselected{% endblock %}" id="myRequests">
                                                      <a class="sites-navigation-link unselected" 
                                                        onclick="location.hash = 'myRequests'"
                                                        
                                                        
                                                        >
                                                        My Requests
                                                      </a>
                                                    </li>
                                                    <li class="{% block booking_select %}unselected{% endblock %}" id="booking"><a
                                                        class="sites-navigation-link unselected"
                                                        onclick="location.hash = 'booking'"
                                                        
                                                        >booking</a></li>
                                                    </div>
                                                    
                                                   
                                                    <li style="border-bottom: 0px solid; position:absolute;">
                                                        <!--<img class="spinner" id="smallerSpinner" src="http://www.ecr.co.za/static/kagiso_common/images/spinner.gif">!-->
                                                                                                                <img class="spinner" id="smallerSpinner" src="https://www.projectonfairrepresentation.org/wp-content/themes/notfair/assets/img/spinner.gif">

                                                    </li>
                                                    <li id="logOutButtonTwo">
                                                      <a style="position:fixed" onclick="startSmallerSpinner(); google.script.run.withSuccessHandler(writeFullPageString).logOut('<?=token?>', '<?=user?>')">Log Out</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="sites-chrome-main-wrapper" class="glass">
                            {% block content %}{% endblock %}
                        </div>
                        <div id="sites-chrome-footer-wrapper">
                            <div id="sites-chrome-footer-wrapper-inside">
                                <div id="sites-chrome-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>