{% extends "frontend/base_inner_site.html" %}
{% block booking_select %}selected{% endblock %}
{% block content %}
<table cellspacing="0" class=
"sites-layout-name-one-column sites-layout-hbox"
xmlns="http://www.w3.org/1999/xhtml">
    <tbody>
        <tr>
            <td class=
            "sites-layout-tile sites-tile-name-content-1">
            <div dir="ltr" id=
            "bookingFormWrapper">
                <h1><span dir="ltr" id=
                "sites-page-title">Choose a
                date</span></h1><br>
                <iframe src=
                "https://www.google.com/calendar/embed?title=Malabar%20House%20Bookings&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tie7uhbl3aohnfnuhotidikjpo%40group.calendar.google.com&amp;color=%2342104A&amp;src=nbc712s896fhv76pe8fl95o718%40group.calendar.google.com&amp;color=%23125A12&amp;src=vt8cbiploefrp3492ji1be25f0%40group.calendar.google.com&amp;color=%236B3304&amp;src=tcorkarb8uupa9nguqf9l2fbsc%40group.calendar.google.com&amp;color=%238C500B&amp;src=icoufgc83qm32aer4nuc3k9fjo%40group.calendar.google.com&amp;color=%23865A5A&amp;src=947tekb6h7nna597d11unjk1s8%40group.calendar.google.com&amp;color=%23691426&amp;src=nagh4bsa00ql8r2b4fiv0acnro%40group.calendar.google.com&amp;color=%23853104&amp;src=7gmv5vo3g01qbuneqh3tq4b4a4%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles">
                </iframe>

                <h1><span dir="ltr">Book
                your stay</span></h1><br>

                <form id="bookingForm"
                name="bookingForm"
                method="post">
                {% csrf_token %}
                {{ form.rooms }}
                {{ form.arrive }}
                <!--<div class="bookingBlock">
                    <b>Choose your rooms
                    <a href=
                    "https://www.google.com/calendar/embed?title=Malabar%20House%20Bookings&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tie7uhbl3aohnfnuhotidikjpo%40group.calendar.google.com&amp;color=%2342104A&amp;src=nbc712s896fhv76pe8fl95o718%40group.calendar.google.com&amp;color=%23125A12&amp;src=vt8cbiploefrp3492ji1be25f0%40group.calendar.google.com&amp;color=%236B3304&amp;src=tcorkarb8uupa9nguqf9l2fbsc%40group.calendar.google.com&amp;color=%238C500B&amp;src=icoufgc83qm32aer4nuc3k9fjo%40group.calendar.google.com&amp;color=%23865A5A&amp;src=947tekb6h7nna597d11unjk1s8%40group.calendar.google.com&amp;color=%23691426&amp;src=nagh4bsa00ql8r2b4fiv0acnro%40group.calendar.google.com&amp;color=%23853104&amp;src=7gmv5vo3g01qbuneqh3tq4b4a4%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles"
                        target=
                        "_blank">(availability
                        calendar)</a></b><br>

                        <input name="name"
                        type="hidden"
                        value="&lt;?=realname?&gt;">
                        <input name=
                        "email" type=
                        "hidden" value=
                        "&lt;?=user?&gt;">
                        <label><input id=
                        "wholeHouseCheckbox"
                        onclick=
                        "checkRooms(this);"
                        type="checkbox">
                        Whole
                        House</label><br>
                        Or<br>
                        <label><input name=
                        "rooms" onclick=
                        "checkWholeHouse()"
                        type="checkbox"
                        value="Room 1">
                        Room 1</label><br>
                        <label><input name=
                        "rooms" onclick=
                        "checkWholeHouse()"
                        type="checkbox"
                        value="Room 2">
                        Room 2</label><br>
                        <label><input name=
                        "rooms" onclick=
                        "checkWholeHouse()"
                        type="checkbox"
                        value="Room 3">
                        Room 3</label><br>
                        <label><input name=
                        "rooms" onclick=
                        "checkWholeHouse()"
                        type="checkbox"
                        value="Room 4">
                        Room 4</label><br>
                    </div>

                    <div class=
                    "bookingBlock">
                        <b>Enter arrival
                        and departure
                        dates</b><br>
                        <input id="arrive"
                        name="arrive"
                        placeholder=
                        "Arrive..."
                        required="" type=
                        "text"><br>
                        <input id="leave"
                        name="leave"
                        placeholder=
                        "Depart..."
                        required="" type=
                        "text"><br>
                        <b>Extra
                        services?</b><br>
                        <input name=
                        "extras" type=
                        "checkbox" value=
                        "extra1">extra1<br>
                        <input name=
                        "extras" type=
                        "checkbox" value=
                        "extra2">extra2<br>
                        <input name=
                        "extras" type=
                        "checkbox" value=
                        "extra3">extra3
                    </div><br>
                    <input id=
                    "bookingSubmit"
                    onmousedown=
                    "this.style.backgroundColor = 'rgba(13, 72, 118, 1)'"
                    onmouseout=
                    "this.style.backgroundColor = 'rgba(30, 105, 163, 1)'"
                    onmouseup=
                    "this.style.backgroundColor = 'rgba(30, 105, 163, 1)'"
                    type="submit" value=
                    "SUBMIT">!-->
                </form><br>

                <p id=
                "bookingConfirmationMessage">
                </p><img class='spinner'
                id='bookingSpinner' src=
                'http://s11.postimg.org/pvpn1xkun/ezgif_com_crop.gif'
                style=
                'visibility:hidden;height:100px;width:100px'></div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}