{% extends "frontend/base_inner_site.html" %}
{% block home_select %}selected{% endblock %}
{% block content %}
<div xmlns="http://www.w3.org/1999/xhtml"
class="sites-layout-name-two-column-hf sites-layout-vbox">
	<div class="sites-layout-tile sites-tile-name-header">
	    <div dir="ltr">
	        <div style="text-align: center">
	            <i
	                style="font-family: arial, sans-serif; font-size: medium; line-height: 1.5; background-color: transparent"><span
	                style="color: rgb(68, 68, 68); text-align: justify">"Duis
	                    aute irure dolor in reprehenderit in voluptate
	                    velit esse cillum dolore eu fugiat nulla
	                    pariatur.&nbsp;</span><span
	                style="color: rgb(68, 68, 68); line-height: 1.5; text-align: justify; background-color: transparent">Excepteur
	                    sint occaecat cupidatat non proident, sunt in culpa
	                    qui officia deserunt mollit anim id est laborum."</span></i>
	        </div>
	        <div style="text-align: center">
	            <font face="arial, sans-serif" size="3"><i><span
	                    style="color: rgb(68, 68, 68); line-height: 1.5; text-align: justify; background-color: transparent"><br></span></i></font>
	        </div>
	    </div>
	</div>
	<table cellspacing="0" class="sites-layout-hbox">
	    <tbody>
	        <tr>
	            <td
	                class="sites-layout-tile sites-tile-name-content-1"><div
	                    dir="ltr">
	                    <div>
	                        <p
	                            style="text-align: left; color: rgb(68, 68, 68)">
	                            <b
	                                style="text-align: justify; line-height: 1.5; background-color: transparent">Lorem
	                                ipsum dolor sit amet,</b><span
	                                style="text-align: justify; line-height: 1.5; background-color: transparent">
	                                consectetur adipisicing elit, sed do eiusmod
	                                tempor incididunt ut labore et dolore magna
	                                aliqua. Ut enim ad minim veniam, quis nostrud
	                                exercitation ullamco laboris nisi ut aliquip ex
	                                ea commodo consequat. Duis aute irure dolor in
	                                reprehenderit in voluptate velit esse cillum
	                                dolore eu fugiat nulla pariatur. Excepteur sint
	                                occaecat cupidatat non proident, sunt in culpa
	                                qui officia deserunt mollit anim id est laborum.
	                                Lorem ipsum dolor sit amet, consectetur
	                                adipisicing elit, sed do eiusmod tempor
	                                incididunt ut labore et dolore magna aliqua. Ut
	                                enim ad minim veniam, quis nostrud exercitation
	                                ullamco laboris nisi ut aliquip ex ea commodo
	                                consequat.</span>
	                        </p>
	                        <p
	                            style="color: rgb(68, 68, 68); text-align: justify">
	                            Ut enim ad minim veniam, quis nostrud
	                            exercitation ullamco laboris nisi ut aliquip ex
	                            ea commodo consequat. Duis aute irure dolor in
	                            reprehenderit in voluptate velit esse cillum
	                            dolore eu fugiat nulla pariatur.&nbsp;<span
	                                style="line-height: 1.5; background-color: transparent">Excepteur
	                                sint occaecat cupidatat non proident, sunt in
	                                culpa qui officia deserunt mollit anim id est
	                                laborum.</span>
	                        </p>
	                    </div>
	                    <span style="color: rgb(68, 68, 68)"> </span>
	                </div></td>
	            <td
	                class="sites-layout-tile sites-tile-name-content-2"><div
	                    dir="ltr">
	                    <p
	                        style="color: rgb(68, 68, 68); text-align: justify">
	                        <b>Gallery Preview:&nbsp;</b><span
	                            style="line-height: 1.5; background-color: transparent">aute
	                            irure dolor in reprehenderit in voluptate velit
	                            esse cillum dolore eu fugiat...</span>
	                    </p>
	                    <div style="display: block; text-align: left">
	                        <img border="0"
	                            src="https://lh3.googleusercontent.com/-e48nyvjONWw/VLIIJGkYcPI/AAAAAAAADnM/bZtIrkv1-FE/w1172-h879-no/DSCN1998.JPG"
	                            style="width: 100%; display: block; margin-right: auto; text-align: left">
	                    </div>
	                    <div style="display: block; text-align: left">
	                        <br>
	                    </div>
	                    <div style="display: block; text-align: left">
	                        <img border="0"
	                            src="https://sites.google.com/site/houseonmalabar/_/rsrc/1417893280191/home/1b.png"
	                            style="width: 100%">
	                    </div>
	                </div></td>
	        </tr>
	    </tbody>
	</table>
</div>                
                                
{% endblock %}