{% extends 'frontend/base_inner_site.html' %}
{% block requests_select %}selected{% endblock %}
{% block content %}
<h1>Your upcoming visits</h1>
<table id="myRequestsTable">
    <tr>
        <td>Requests</td>
        <td>Status</td>
    </tr>
    {% for booking in bookings %}
        <tr>
            <td>
                {{ booking.short_description }}
            </td>
            {% if booking.payment_required %}
            <td>
                
            </td>
            {% else %}
        </tr>
    {% endfor %}  
</table>
{% endblock %}