{% load staticfiles %}
<head>
    <title>{{ venue_name }} - {% block pagetitle %}Home{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'frontend/images/favicon.ico' %}"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900" rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/skel.min.js' %}"></script>
    <script src="{% static 'frontend/js/skel-panels.min.js' %}"></script>
    <script src="{% static 'frontend/js/init.js' %}"></script>
    <script src="{% static 'frontend/js/added.js' %}"></script>
    <script src="{% static 'frontend/js/modernizr-custom.js' %}"></script>
    <script src="{% static 'frontend/js/image-picker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/skel-noscript.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/style-desktop.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/added.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/image-picker.css' %}">
    <script>
	$(window).load(function() {
	    $("#skel-panels-defaultWrapper").remove();
	});
	
    </script>
    {% block extrahead %}
    {% endblock %}
    
</head>
<body>
{% include "frontend/header.html" %}
{% block content %}{% endblock %}
{% include "frontend/footer.html" %}
</body>