{% load staticfiles %}
<head>
    <title>Linear by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900" rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'frontend/js/skel.min.js' %}"></script>
    <script src="{% static 'frontend/js/skel-panels.min.js' %}"></script>
    <script src="{% static 'frontend/js/init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/skel-noscript.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/style-desktop.css' %}" />
    
</head>
{% block content %}{% endblock %}
