{% extends 'frontend/base_inner_site.html' %}
{% block pagetitle %}Book a Stay{% endblock %}
{% block extrahead %}
<script>
    if (!Modernizr.inputtypes.date) {
        $('input[type=date]').datepicker();
    }
    $('#calRefresh').click(function() {
        var calIframe = document.getElementById('calIframe');
        calIframe.src = calIframe.src;
    })
</script>
{% endblock %}
{% block content %}
<!-- Main -->
    <div id="main">

        <!-- Content -->
        <div id="content">
            <section style="text-align:center">
                <header>
                    <h2>Step 1</h2>
                    <span class="byline">Check the calendar to make sure your dates are available</span>
                </header>
                <iframe id="calIframe" class="bookingCalendar" src="{{ cal_url }}"></iframe>
            </section>
            <section style="text-align:center">
                <header>
                    <h2>Step 2</h2>
                    <span class="byline">Complete this form to request a stay</span>
                </header>
                <form id="bookingForm">
                    {% csrf_token %}
                    <div id="formWrapper">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" value="Submit">    
                </form>
            </section>
        </div>
    </div>
<!-- /Main -->
{% comment %}
    

<!-- Main -->

    <div id="main">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div id="content" class="8u skel-cell-important">
                    <section style="text-align:center">
                        <iframe id="calIframe" class="bookingCalendar" src="{{ cal_url }}"></iframe>
                        <input type="button" id="calRefresh" value="Refresh calendar">
                        <p>If an event begins with "Request for...", that means that the slot is still available, but someone else has requested the slot before you and is pending approval from the owner.</p>
                        <p>If one begins with "Booking for...", then it is already booked and unavailable at this time.</p>
                    </section>
                </div>

                <!-- Sidebar -->
                <div id="sidebar" class="4u">
                    <section>
                        <header>
                            <h2>Book a stay</h2>
                        </header>
                        <div class="row">
                            <form id="bookingForm">
                                {% csrf_token %}
                                <div id="formWrapper">
                                {{ form.as_p }}
                                </div>
                                <input type="submit" value="Submit">    
                            </form>
                        </div>
                    </section>
                    
                </div>
                
            </div>
        </div>
    </div>
<!-- /Main -->

<!-- Tweet -->
    <div id="tweet">
        <div class="container">
            <section>
                <blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
            </section>
        </div>
    </div> !-->
<!-- /Tweet -->
{% endcomment %}
{% endblock content %}