{% extends 'frontend/base_inner_site.html' %}
{% block pagetitle %}Book a Stay{% endblock %}
{% block extrahead %}
<script>
    if (!Modernizr.inputtypes.date) {
        $('input[type=date]').datepicker();
    }
    $('#calRefresh').click(function() {
        var calIframe = document.getElementById('calIframe');
        calIframe.src = calIframe.src;
    });
    $('label').after('br');
</script>
{% endblock %}
{% block content %}
<!-- Main -->
    <div id="main">

        <!-- Content -->
        <div id="content" class="data container">
            <section style="text-align:center">
                <header>
                    <h2>Step 1</h2>
                    <span class="byline">Check the calendar to make sure your dates are available</span>
                </header>
                <iframe id="calIframe" class="bookingCalendar" src="{{ cal_url }}"></iframe>
            </section>
            <section style="text-align:center">
                <header>
                    <h2>Step 2</h2>
                    <span class="byline">Complete this form to request a stay</span>
                </header>
                <form id="bookingForm">
                    {% csrf_token %}
                    <div id="formWrapper">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" value="Submit">    
                </form>
            </section>
        </div>
    </div>
<!-- /Main -->
{% endblock content %}