{% extends "frontend/base_inner_site.html" %}
{% load staticfiles %}
{% block pagetitle %}Home{% endblock %}
{% block content %}

    <!-- Featured -->
        <div id="featured">
            <div class="container">
                <header>
                    <h2>Welcome!</h2>
                </header>
                <p class="title-blurb">Come visit <strong>{{ venue_name }}</strong>, a beautiful newly built house on the Malabar Coast.<br>On
 this site, you will be able to browse the rooms, check out the house, 
and book a stay. This was built to help automate the process of lending 
rooms to friends and family, but note that the owner is still in charge!</p>
            </div>
        </div>

    <!-- Main -->
        <div id="main">
            <div id="content" class="container">

                <div class="row">
                    <section class="6u">
                        <a href="#" class="image full"><img src="{% static 'frontend/images/pic01.jpg' %}" alt=""></a>
                        <header>
                            <h2>Mauris vulputate dolor</h2>
                        </header>
                        <p>In posuere eleifend odio. Quisque semper augue mattis wisi. 
Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat 
volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at
 urna congue rutrum.</p>
                    </section>              
                    <section class="6u">
                        <a href="#" class="image full"><img src="{% static 'frontend/images/pic02.jpg' %}" alt=""></a>
                        <header>
                            <h2>Mauris vulputate dolor</h2>
                        </header>
                        <p>In posuere eleifend odio. Quisque semper augue mattis wisi. 
Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat 
volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at
 urna congue rutrum.</p>
                    </section>              
                </div>

                <div class="row">
                    <section class="6u">
                        <a href="#" class="image full"><img src="{% static 'frontend/images/pic03.jpg' %}" alt=""></a>
                        <header>
                            <h2>Mauris vulputate dolor</h2>
                        </header>
                        <p>In posuere eleifend odio. Quisque semper augue mattis wisi. 
Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat 
volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at
 urna congue rutrum.</p>
                    </section>              
                    <section class="6u">
                        <a href="#" class="image full"><img src="{% static 'frontend/images/pic04.jpg' %}" alt=""></a>
                        <header>
                            <h2>Mauris vulputate dolor</h2>
                        </header>
                        <p>In posuere eleifend odio. Quisque semper augue mattis wisi. 
Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat 
volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at
 urna congue rutrum.</p>
                    </section>              
                </div>
            
            </div>
        </div>
{% endblock %}
