{% extends 'frontend/base_inner_site.html' %}
{% load staticfiles %}
{% block pagetitle %}My Visits{% endblock %}
{% block extrahead %}
<script src="{% static "frontend/js/requests.js" %}"></script>
{% endblock %}
{% block content %}
<!-- Main -->
    <div id="main">

        <!-- Content -->
        <div id="content" class="data container">
            <section style="text-align:center">
                <header>
                    <h2>My Visits</h2>
                    <span class="byline">Your upcoming visits, all in one place</span>
                </header>
                {% if bookings %}
				<table id="myRequestsTable">
				    <thead>
					    <tr>
					        <th>Requests</th>
					        <th>Status</th>
					    </tr>
					</thead>
					
				    <tbody>
				    {% for booking in bookings %}
				        <tr style="background-color:{{ booking.status_color }}">
				            <td>
				                {{ booking.short_description }}
				            </td>
				            <td>
				            {% if booking.approval_state < booking.PAYMENT_NEEDED %}
				            	<ul class="infolist">
				            		<li>{{ booking.get_approval_state_display }}</li>
				            	</ul>
                            {% elif booking.approval_state == booking.PAYMENT_NEEDED %}
                            	You must pay a fee of {{ booking.get_fee }}
                                {{ booking.payment_fields.render }}
                            {% elif booking.approval_state > booking.PAYMENT_NEEDED %}
                                <ul class="messagelist">
                                	<li>{{ booking.get_approval_state_display }}</li>
                                </ul>
                            {% endif %}
                            </td>
				        </tr>						    
				    {% endfor %}  
				    </tbody>
				</table>
				{% else %}
				No upcoming visits found
				{% endif %}
            </section>
        </div>
    </div>
<!-- /Main -->
{% endblock content %}