{% extends "frontend/base_inner_site.html" %}
{% load staticfiles %}
{% block content %}
<body>
    {% include "frontend/header.html" %}
    <!-- Main -->
        <div id="main">
            <div id="content" class="container">

                <div class="row">
                    <section class="6u">
                        <a href="#" class="image full"><img src="{#{% static 'frontend/images/pic01.jpg' %}#}http://assets.royalorchidsheraton.com/XLGallery/md/DeluxeRiverViewRoom-King.jpg" alt=""></a>
                        <header>
                            <h2>Room 1</h2>
                        </header>
                        <p>A room with a river view, fixed with beautiful mahogany panelling and salvaged objects from the original site.
                        Perfect for the individual traveller desiring luxury and panache.</p>
                    </section>              
                    <section class="6u">
                        <a href="#" class="image full"><img src="{#{% static 'frontend/images/pic02.jpg' %}#}http://embassysuites3.hilton.com/resources/media/es/en_US/img/shared/carousel/main/ES_tworoomsuite_746x420_FitToBoxSmallDimension_Center.jpg" alt=""></a>
                        <header>
                            <h2>Room 2</h2>
                        </header>
                        <p>Spacious and airy, this is the only room in the house featuring three beds. 
                        Families visiting will enjoy a separate room with bunk bed for the children, 
                        as well as a pillowtop queen bed for the adults. This
                        room is sure to make your family visit a trip to remember.
                        </p>
                    </section>              
                </div>

                <div class="row">
                    <section class="6u">
                        <a href="#" class="image full"><img src="{#{% static 'frontend/images/pic03.jpg' %}#}http://www.westernoriental.com/upload-files/product-hotels-rooms/ROOM_SKG001_3732.jpg" alt=""></a>
                        <header>
                            <h2>Room 3</h2>
                        </header>
                        <p>This maritime-themed room features relics from old riverboats of the
                        Backwaters, tastefully arranged around a generous king-sized bed.
                        A cozy room for individuals or couples to relax in after a day on the water!</p>
                    </section>              
                    <section class="6u">
                        <a href="#" class="image full"><img src="{#{% static 'frontend/images/pic04.jpg' %}#}http://media.architecturaldigest.com/photos/56706b307450a9497ee52e00/master/w_806/unbuilt-florida-penthouse-sells-for-21-million-02.jpg" alt=""></a>
                        <header>
                            <h2>Room 4</h2>
                        </header>
                        <p>You have never experienced true luxury until you have stayed in this room.
                        Live like a maharaja in this penthouse with floor-to-ceiling windows giving
                        you a gorgeous view of the backwaters. Sink with delight into the 300-thread-count
                        king sized bed in your private bedroom, with attached bathroom and shower. Host your
                        own parties with the onsuite bar, complete with room-exclusive bartending service. 
                        Sure to turn your stay from great to extraordinary.</p>
                    </section>              
                </div>
            
            </div>
        </div>

    <!-- Footer -->
        <div id="footer">
            <div class="container">
                <section>
                    <header>
                        <h2>Get in touch</h2>
                        <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
                    </header>
                    <ul class="contact">
                        <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                        <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                        <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
                        <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
                    </ul>
                </section>
            </div>
        </div>

    <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
            </div>
        </div>

    
</body>                         
{% endblock %}
