#sites-canvas-main {
    overflow: hidden
}
#sites-header-title {
    padding-left: 5px;
    overflow: visible
}
#title-crumbs {
    padding: 5px 0 0 10px
}
#sites-chrome-header .sites-header-nav {
    overflow: hidden;
    margin-left: 1px;
    padding: 5px 5px 0px;
    text-align: left
}
#sites-chrome-header .sites-header-nav ul {
    margin: 0;
    padding: 0
}
#sites-chrome-header .sites-header-nav li {
    display: inline-block;
    list-style-type: none;
    list-style-image: none
}
#sites-chrome-header .sites-header-nav a {
    display: block;
    width: 100%;
    text-decoration: none
}
#sites-chrome-header .sites-header-nav a:hover {
    text-decoration: underline;
    background-color: transparent
}
.sites-header-nav-container-links li {
    padding: 5px 10px 5px 10px
}

#sites-chrome-header .sites-header-secondary-row td {
    padding: 0px 4px!important
}

.sites-layout-hbox {
    width: 100%;
    table-layout: fixed
}
.sites-layout-hbox-centered {
    width: 100%
}
.sites-layout-hbox td.sites-layout-tile {
    vertical-align: top
}
.sites-layout-tile {
    padding: 3px
}
@font-face {
    font-family: ie-sites-symbol-font;
    src: url(../../images/sites.eot)
}
@font-face {
    font-family: non-ie-sites-symbol-font;
    src: url(../../images/sites.ttf)
}

html,
body {
    padding: 0;
    margin: 0;
    direction: ltr
}
body {
    font: normal 10pt Arial, sans-serif
}
th {
    text-align: left
}
td {
    vertical-align: top
}
code {
    color: #006000
}
#sites-chrome-everything {
    margin: 0 auto
}
#sites-canvas-main {
    min-height: 150px;
    _height: 150px;
    padding-bottom: 5px;
}
#sites-canvas-main table {
    margin: 0
}
#title-crumbs,
#sites-canvas-main .sites-tile-name-content-1,
,
,
,
 {
    padding-left: 10px;
    padding-right: 10px
}
#sites-canvas-main .sites-tile-name-content-1,
,
 {
    padding-bottom: 10px
}
#sites-chrome-everything #sites-chrome-header img {
    padding: 0;
    border: 0
}
#sites-status {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
    text-align: center
}
.sites-notice {
    background: #fc3;
    color: #000;
    display: inline;
    font: bold 13px Arial, sans-serif;
    padding: 2px 10px 3px;
    z-index: 199
}
#sites-header-title h2 {
    margin: 0
}
.sites-header-divider {
    font-size: 13px;
    background: #fff;
    border-bottom: none;
    font-family: arial, sans-serif!important
}
.sites-embed-border-on {}.sites-embed-border-off {
    border: none!important
}
#sites-chrome-everything {
    width: 100%
}
ol {
    list-style-type: decimal
}

input[type=checkbox],
 {
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: 13px;
    margin: 0 6px -1px 0;
    position: relative;
    width: 13px;
  -webkit-border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-border-radius: 1px;
    -moz-box-sizing: border-box
}
input[type=checkbox]:active,
 {
    background: #ebebeb;
    border-color: #c6c6c6
}
input[type=checkbox]:hover,
 {
    border-color: #c6c6c6;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1)
}
undefined#sites-status {
    top: 2px
}
#sites-notice {
    text-align: center;
    bottom: 0;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    margin-bottom: -15px;
    z-index: 199;
    font: bold 13px Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.00);
    -webkit-transition: all 0.130s, left 0 linear 0;
    font: normal 11px Arial, Helvetica, sans-serif
}
body {
    background-color: #f8f8f8
}
#sites-chrome-everything h2 {
    color: #222;
    font: 600 19px "Open Sans", sans-serif;
    padding: 19px 0 0
}
td {
    vertical-align: top
}
#sites-chrome-everything a,
 {
    color: #298cca;
    text-decoration: none
}
#sites-chrome-everything a:visited,
 {
    color: #835ea5
}
#sites-chrome-everything a:hover,
#sites-chrome-everything a:active,
 {
    text-decoration: underline
}
#sites-chrome-everything {
    color: #616161;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px
}
#sites-chrome-page-wrapper {
    width: 77%;
    margin: auto
}
#sites-chrome-header-wrapper {
    padding: 2px 0 0
}
#sites-chrome-main-wrapper {
    background: #fff;
    padding: 0 50px
}
#sites-chrome-footer-wrapper {
    padding: 0 15px 15px 15px
}
#sites-chrome-main {
    text-align: left;
    padding: 0
}
.sites-header-primary-row #sites-header-title {
    height: 128px
}
.sites-header-secondary-row {
    background-color: #fff
}
body #sites-header-title h2 {
    font: bold 33px "Open Sans", sans-serif;
    color: rgba(97, 140, 132, 0.71);
    margin: 0;
    padding: 0
}
.sites-header-primary-row td {
    vertical-align: middle
}
.sites-header-primary-row .sites-header-cell-buffer-wrapper {
    padding: 0 50px
}
#sites-canvas-main {
    background-color: transparent;
}
#sites-canvas-main .sites-tile-name-content-1,
,
 {
    padding-left: 10px;
    padding-right: 10px
}
#sites-chrome-header .sites-header-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 12px;
    margin: 0 45px;
    padding: 0
}
#sites-chrome-header .sites-header-nav a,
#sites-chrome-header .sites-header-nav a:hover,
#sites-chrome-header .sites-header-nav li,
#sites-chrome-header .sites-header-nav li:hover,
,
 {
    color: #CBCBCB;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase
}
#sites-chrome-header .sites-header-nav li {
    padding-bottom: 16px;
    padding-top: 23px;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color .13s;
    -moz-transition: border-color .13s;
    transition: border-color .13s
}
#sites-chrome-header .sites-header-nav li:hover {
    border-bottom-color: #52a1d2
}
#sites-chrome-header .sites-header-nav li:hover {
    background-color: transparent
}
#sites-chrome-header .sites-header-nav-container-links li {
    background-color: transparent
}
#sites-chrome-header .sites-header-nav-container-links li:hover {
    background-color: transparent
}